@import "common/foundation/variables";
@import "common/foundation/colors";
@import "common/foundation/mixins";
@import "library/colors";

@mixin transition($time){
  transition: all #{$time}s ease-in-out;
  -webkit-transition: all #{$time}s ease-in-out;
  -moz-transition: all #{$time}s ease-in-out;
  -o-transition: all #{$time}s ease-in-out;
}

#main {
  #main-outlet {
    padding-top: 175px;
  }

  .d-header {
    padding-top: 0;
    min-height: 90px;
    margin-bottom: 0;
    transition: top .5s ease-out;
    background: $secondary;
    -webkit-font-smoothing: subpixel-antialiased;
    @include breakpoint(tablet, min-width) {
      background: $derivative-dark-white;
    }
  }
}

$container-padding-desktop: 50px;
$container-padding-mobile: 20px;
$padding: 20px;

//
//@font-face {
//  font-family: 't-star_probold';
//  font-weight: normal;
//  font-style: normal;
//  //src: url(https://s3.us-east-2.amazonaws.com/derivative/T-Star-TW-bold-webfont.woff) format('woff2');
//  src: url($t-star_probold) format('woff2');
//}
//
//@font-face {
//  font-family: 'derivative-font';
//  font-weight: normal;
//  font-style: normal;
//  src: url($derivative-font) format('woff2');
//}


//#main {
//  #main-outlet {
//    padding-top: 175px;
//  }
//
//  .d-header {
//    padding-top: 0;
//    min-height: 90px;
//    margin-bottom: 0;
//    transition: top .5s ease-out;
//    background: var(--secondary);
//    -webkit-font-smoothing: subpixel-antialiased;
//    &.show-header {
//      position: fixed;
//      top: 0;
//      left: 50%;
//      transform: translateX(-50%);
//    }
//    &.hide-header {
//      position: fixed;
//      top: -90px;
//      left: 50%;
//      transform: translateX(-50%);
//    }
//    & * {
//      box-sizing: border-box;
//    }
//    .wrap {
//      position: relative;
//      width: 100%;
//      max-width: 1630px;
//      height: 90px;
//      margin-left: auto;
//      margin-right: auto;
//      padding-left: $container-padding-mobile;
//      padding-right: $container-padding-mobile;
//      @include media($screen-md){
//        padding-left: $container-padding-desktop;
//        padding-right: $container-padding-desktop;
//      }
//      .nav-wrapper {
//        position: absolute;
//        top: 0;
//        left: $container-padding-mobile;
//        width: calc(100% - #{$container-padding-mobile * 2});
//        height: 100%;
//        @include media($screen-md){
//          left: $container-padding-desktop;
//          width: calc(100% - #{$container-padding-desktop * 2});
//        }
//      }
//    }
//    .d-header-icons .active .icon {
//      background-color: transparent !important;
//    }
//    .contents {
//      margin-top: 0;
//      margin-bottom: 0;
//      margin-left: - $padding;
//      margin-right: - $padding;
//      height: 100%;
//      @include media($screen-sm){
//        height: 80px;
//      }
//      > .title {
//        display: none;
//      }
//    }
//  }
//  .contents {
//    .extra-info-wrapper {
//      display: none !important;
//    }
//  }
//
//  .logo {
//    position: relative;
//    z-index: 500;
//    display: flex;
//    align-items: center;
//    min-width: 65px;
//    @include transition(.1);
//    height: 100%;
//    width: 100%;
//    max-width: 145px;
//    margin-left: 0;
//    margin-top: 0;
//    @include media ($screen-sm) {
//      margin-right: 34px;
//    }
//    @include media ($screen-md) {
//      max-width: 200px;
//      min-width: 160px;
//      width: 16.66667%;
//    }
//    .svg-img {
//      width: 100%;
//      path {
//        //fill: #fff !important;
//        fill: var(--primary) !important;
//      }
//      &:hover {
//        opacity: 0.5;
//      }
//    }
//  }
//
//  ul#superfish-2 {
//    display: none;
//    position: relative;
//    text-align: center;
//    text-decoration: none;
//    text-transform: uppercase;
//    font-size: 15px;
//    letter-spacing: 0.2em;
//    font-family: 't-star_probold';
//    height: 90px;
//    -webkit-font-smoothing: subpixel-antialiased;
//    @include media ($screen-sm) {
//      display: block;
//    }
//
//    > li {
//      display: inline-block;
//      position: static;
//      &:first-child {
//        @include media ($screen-md) {
//          margin-left: 20px;
//        }
//      }
//      &#magic-line {
//        position: absolute;
//        display: none;
//      }
//      @include media($screen-xl) {
//        &:first-child {
//          & > a {
//            padding-left: 0;
//          }
//        }
//      }
//
//      &.sfHover {
//        img {
//          opacity: 0.5;
//        }
//      }
//
//      &:hover {
//        > ul {
//          z-index: 10 !important;
//        }
//        > a {
//          position: relative;
//          display: block;
//
//          &:before {
//            border: 6px solid transparent;
//            @include transition(.3);
//          }
//
//          &:after {
//            @include transition(.3);
//          }
//        }
//      }
//
//      li.active-li {
//        a.menuparent{
//          color: darken($white, 50%);
//          img {
//            opacity: .5;
//          }
//        }
//      }
//
//      & > a {
//        color: $black;
//        @include transition(.1);
//        padding: 30px 0;
//        margin-right: 17px;
//        position: relative;
//        @include transition(.1);
//        @include media ($screen-md) {
//          margin-right: 34px;
//        }
//
//        &:before {
//          content: ' ';
//          display: block;
//          position: absolute;
//          pointer-events: none;
//          border: 6px solid transparent;
//          width: 0;
//          height: 0;
//          top: inherit !important;
//          bottom: -12px;
//          left: 50%;
//          z-index: 1000;
//          background: none;
//          @include transition(.3);
//        }
//
//        &:after {
//          content: ' ';
//          display: block;
//          position: absolute;
//          width: 100%;
//          height: 10px;
//          top: inherit !important;
//          bottom: 0;
//          left: 0;
//          z-index: 1000;
//          background: transparent;
//          @include transition(.3);
//        }
//      }
//      /************** SUBMENU ******************/
//      > ul {
//        position: absolute;
//        top: 90px;
//        left: 0;
//        width: 100% !important;
//        background-color: #222;
//        padding: 0 !important;
//        z-index: 1 !important;
//        height: 60px !important;
//        white-space: nowrap;
//        &::before {
//          content: '';
//          z-index:0;
//          width: 200vw;
//          height: 100%;
//          position: absolute;
//          top: 0;
//          left:-50vw;
//          background-color: #222;
//
//        }
//
//        > li {
//          display: inline-block;
//          width: auto;
//          float: none;
//
//          &:hover {
//            a {
//              color: gray;
//            }
//          }
//          &:active {
//            a {
//              &::after {
//                opacity: 1;
//              }
//            }
//          }
//
//          a {
//            z-index: 500;
//            position: relative;
//            color: $white;
//            line-height: 60px;
//            font-size: 13px;
//            letter-spacing: 0.1em;
//            padding: 0 15px;
//            -webkit-font-smoothing: subpixel-antialiased;
//            backface-visibility: hidden;
//            &.active {
//              color: #7f7f7f;
//              &::after {
//                opacity: 1;
//              }
//            }
//            @include media ($screen-sm) {
//              padding: 0 25px;
//            }
//            transition: color .3s ease-out;
//
//            &::after {
//              content: ' ';
//              display: block;
//              @include transition(.3);
//              position: absolute;
//              bottom: 0;
//              left: 0;
//              width: 100%;
//              height: 5px;
//              opacity: 0;
//              background-color: #878787;
//            }
//          }
//        }
//      }
//    }
//    > li {
//      > ul {
//        overflow: visible !important;
//        > li {
//          animation-name: hideSubNav;
//          animation-fill-mode: forwards;
//          animation-duration:.3s;
//          overflow: hidden;
//          @keyframes hideSubNav {
//            0% {
//              height: 60px;
//            }
//            100% {
//              height: 0;
//            }
//          }
//        }
//      }
//      &:hover {
//        > ul {
//        }
//      }
//      &.sfHover {
//        > ul {
//          > li {
//            animation-name: showSubNav;
//            animation-fill-mode: both;
//            animation-duration:.2s;
//            @for $i from 1 through 20 {
//              &:nth-child(#{$i}) {
//                animation-delay: .25 + $i * .04s;
//              }
//            }
//            @keyframes showSubNav {
//              0% {
//                opacity: 0;
//              }
//              100% {
//                opacity: 1;
//              }
//            }
//          }
//        }
//      }
//      > ul {
//        &.sticky {
//          display: block !important;
//          top: 90px !important;
//          left: 0 !important;
//          height: 60px !important;
//          opacity: 1 !important;
//          overflow: visible !important;
//          &.top-sticky {
//            position: fixed !important;
//            left: 50% !important;
//            transform: translateX(-50%);
//          }
//          > li {
//            animation: unset;
//            a {
//              z-index:500;
//            }
//            a.active {
//              color: #7f7f7f;
//              &:after {
//                opacity: 1;
//              }
//            }
//          }
//        }
//      }
//    }
//  }
//
//  .menu-learn,
//  .menu-product {
//    @include transition(.1);
//    width: 25px;
//    height: 25px;
//    margin-right: 15px;
//    margin-bottom: 5px;
//    display: inline-block;
//    vertical-align: middle;
//  }
//
//  .panel {
//    z-index: 500;
//    position: relative;
//    background-color: transparent;
//    height: 100%;
//    white-space: nowrap;
//    width: 25%;
//    @include media($screen-sm){
//      background-color: #7d7d7d;
//      height: 80px;
//      padding-left: $padding;
//      padding-right: $padding;
//    }
//    @include media($screen-md){
//      width: 33.3333%;
//    }
//    &::after {
//      display: none;
//      @include media($screen-sm){
//        display: block;
//        z-index: 1;
//        content: '';
//        position: absolute;
//        top: 0;
//        left: 100%;
//        width: 100vw;
//        height: 100%;
//        background: #7d7d7d;
//      }
//    }
//
//    .login-button {
//      margin-top: 0;
//      margin-left: -40px;
//      @include media ($screen-sm) {
//        margin-top: 0;
//        margin-left: 15px;
//      }
//    }
//
//    .icons {
//      display: flex;
//      justify-content: space-between;
//      width: 100%;
//      height: 100%;
//      margin-left: 0;
//
//      li {
//        position: relative;
//        margin-left: 5px;
//        margin-right: auto;
//        display: flex;
//        align-items: center;
//        @include media ($tablet) {
//          margin-left: auto;
//        }
//        @include media($screen-lg){
//          padding-left: 10px;
//          padding-right: 10px;
//        }
//        &.button-get-now {
//          padding: 0;
//        }
//        &#current-user {
//          order: 1;
//          margin-left: 0;
//
//          > a {
//            font-family: 't-star_probold';
//            text-transform: uppercase;
//            font-size: 12px;
//            line-height: .05em;
//            color: #fff;
//            margin: 0;
//            display: inline-flex;
//            flex-direction: row;
//            align-items: center;
//            -webkit-font-smoothing: subpixel-antialiased;
//            backface-visibility: hidden;
//            width: auto;
//            height: auto;
//            box-sizing: content-box;
//
//            > div:first-child {
//              margin-right: 0;
//              align-items: center;
//              display: inline-flex;
//              @include media($screen-lg){
//                margin-right: 10px;
//              }
//              img {
//                display: block;
//                margin: 0 auto;
//                object-position: center;
//                object-fit: cover;
//                min-width: 22.5px;
//                width: 22.5px;
//                height: 22.5px;
//                border-radius: 50%;
//                background-color: #fff;
//                @include media($screen-sm){
//                  height: 35px;
//                  width: 35px;
//                  min-width: 35px;
//                }
//              }
//            }
//
//            > div:last-child {
//              font-size: 0;
//              @include media($screen-lg){
//                font-size: 12px;
//                margin-left: 5px;
//              }
//            }
//
//            .unread-notifications {
//              position: absolute;
//              display: block;
//              right: -5px;
//              bottom: -3px;
//              @include media($screen-sm){
//                position: static;
//                line-height: 16px;
//                display: inline-block;
//                min-width: 16px;
//                height: 16px;
//                padding: 0;
//                margin-left: 9px;
//              }
//            }
//          }
//          &.active {
//            .icon {
//              background-color: transparent;
//              &:after {
//                display: none;
//              }
//            }
//          }
//        }
//
//        .badge-notification {
//          right: -5px;
//          bottom: 3px;
//          left: auto;
//          top: auto;
//        }
//
//        &:first-child {
//          order: 2;
//        }
//
//        &:nth-child(2) {
//          order: 3;
//        }
//
//        &:last-child {
//          order: 4;
//          margin-right: 0;
//        }
//
//        .icon {
//          border: none;
//          color: $white;
//          padding: 0;
//          opacity: 1;
//          width: auto;
//          height: auto;
//
//          &:hover, &:active, &:visited, &:focus {
//            border: none;
//            background-color: transparent;
//            opacity: 0.5;
//          }
//
//          .d-icon-bars {
//            opacity: 1;
//            -webkit-text-stroke: 2px rgba(36, 36, 36, 0.95);
//            padding-top: 2px;
//            @include media($screen-sm){
//              -webkit-text-stroke: 2px #7d7d7d;
//            }
//          }
//          .d-icon-search::before {
//            //content: "\e91a" !important;
//            //font-family: 'derivative-font';
//            //font-size: 22px;
//            content: '';
//            display: inline-block;
//            background-image: url("https://www.derivative.ca/sites/all/themes/derivative2017/images/icons/search-white.svg");
//            background-repeat: no-repeat;
//            background-size: contain;
//            box-sizing: content-box;
//            transform: translate3d(0,0,0);
//            vertical-align: middle;
//            width: 20px;
//            height: 20px;
//            @include media($screen-sm){
//              width: 22px;
//              height: 22px;
//            }
//          }
//        }
//      }
//    }
//
//    .get-now {
//      position: relative;
//      z-index: 10;
//      display: none;
//      @include media ($screen-md) {
//        display: block;
//      }
//
//      .get-it-btn {
//        a {
//          background-color: transparent;
//          text-align: center;
//          padding: 0 14px;
//          -webkit-border-radius: 20px;
//          -moz-border-radius: 20px;
//          border-radius: 20px;
//          display: inline-block;
//          height: 40px;
//          transition: width .3s ease-out;
//          text-transform: uppercase;
//
//          span {
//            color: $popup-overlay;
//            font-family: 't-star_probold';
//            line-height: 40px;
//            letter-spacing: .075em;
//            font-size: 12px;
//            display: inline-block;
//            @include transition(.3);
//          }
//        }
//
//        .btn-background {
//          cursor: pointer;
//          z-index: -1;
//          position: absolute;
//          top: 0;
//          left: 0;
//          width: 100%;
//          height: 100%;
//          -webkit-border-radius: 20px;
//          -moz-border-radius: 20px;
//          border-radius: 20px;
//          background-image: linear-gradient(135deg, $white 33%, #232323 33%,#232323 66%, $white 66%);
//          background-size: 400% 200%;
//          background-position: 100% 50%;
//          background-repeat: no-repeat;
//          transform-origin: center;
//          transform: scale3d(1,1,1);
//          transition: .3s transform ease-out , background-color 0s linear ;
//        }
//
//        &:hover {
//
//          .btn-background {
//            transform: scale3d(1.05,1.05,1);
//            transition: background-color 0s .3s linear, .3s transform ease-out;
//          }
//
//          span {
//            color: $white;
//            letter-spacing: 0.01em;
//            @include media ($screen-sm) {
//              letter-spacing: 0.02em;
//            }
//            @include transition(.3);
//          }
//        }
//      }
//    }
//  }
//}
//
//
//
//.get-it-btn span {
//    text-transform: uppercase;
//}
//
//.category-heading, .category-navigation {
//    clear:none;
//}
//
//li[title="Navigate to the home page"] {
//  display: inline-block;
//  float: left;
//  margin: 0 10px 0 0;
//  padding: 0;
//  font-size: 1.143em;
//  a[href="/"] {
//    display: inline-block;
//    padding: 5px 8px;
//    line-height: 20px;
//    background: #e9e9e9;
//    color: #222;
//  }
//}
//
//.d-header .contents > .title {
//    display: none;
//}
//
//.control-group.pref-auth-tokens {
//    display: none;
//}
